head
  meta(charset='utf-8')
  title LOGIN
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')

  body
    p 
    .modal-dialog
        .modal-content
          
          // Modal Body
          .modal-body
            //#editForm.form(role='form' method='GET' action='https://www.google.com/')
            form(role='form' method='POST' action='/users')
              div.form-group
                label(for='user') User:
                input#user.form-control(type='text', placeholder='usuário' name='user')
              div.form-group
                label(for='password') Senha:
                input#password.form-control(type='password', placeholder='senha' name='password')
              button.btn.btn-primary(type="submit") Login
              